{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="canonical" href="https://www.taxizkousky.cz/clanky/3-rady-pro-uspesne-slozeni-taxi-zkousek/" />
<title>2019 | 3 rady od lidí, kteří úspěšně složili taxi zkoušky</title>
<div class="container">
  <h1 style="text-align: center; margin-top:2rem">3 rady od lidí, kteří úspěšně složili taxi zkoušky</h1>
  <br>
  <p>Chceme se s Vámi podělit o nějaké rady pro současné i budoucí lidi, kteří si chtějí složit taxi zkoušky v praze. Oslovili jsme zpětně některé úspěšné účastníky, aby nám napsali nějaké body, rady nebo tipy, kterých se drželi. Přečtěte si také náš návod jak taxi zkoušky udělat co nejrychleji <a href="{% url 'clanek1' %}">odkaz zde.</a></p>
  <br>
  <div class="container" style="text-align: center">
    <a href="#" class="btn btn-warning" style="width: 10rem">Registrovat se</a>
  </div>
  <br>
  <h6><u><b>Rada od Tomáše:</b></u></h6>
  <p>Potřebujete hlavně pevnou vůli a otázky/odpovědi trénovat kdykoliv je to možné. Nejlépe se mi osvědčilo 20-30 minutové ranní zopakování s následným tréninkem otázek na portálu taxizkousky.cz.</p>
  <p>Nic více není potřeba. Co mě více překvapilo, jak jsou termíny pražských taxi zkoušek nyní plné a magistrát nevypíše další a častěji.</p>
  <p>Snad se to do budoucna změní. Přeji hodně štěstí!</p>
  <br>
  <hr>
  <br>
  <h6><u><b>Rada od Honzy:</b></u></h6>
  <p>Když jsem se začal zabývat složením taxi zkoušek, hledal jsem něco na vyzkoušení mých znalostí.</p>
  <p>Od zaměstnavatele jsem dostal materiály a odkaz na tuto stránku. Materiály jsme si pročetl a potom už jen trénoval otázky z taxi zkoušek na portálu.</p>
  <p>Chce to u toho chvíli vydržet a nevzdat se. Všichni jsme ty zkoušky museli složit a je dobře, že tu jsou!</p>
  <br>
  <hr>
  <br>
  <h6><u><b>Rada od Pavla:</b></u></h6>
  <p>Jelikož Uber ode mne začal vyžadovat taxikářskou koncesi, hledal jsem si dodatečné informace o taxi zkouškách v praze.</p>
  <p>Narazil jsem přitom na tento portál, který je na rozdíl od ostatních zdarma a poskytuje kvalitní opakování a přípravu na zkoušky, včetně simulace testu na nečisto s výsledky v procentech.</p>
  <p>Je super, že Vám portál sám řekne v které sekci chybujete nejvíce a tu si potom můžete dodatečně natrénovat, tak aby jste ty taxi zkoušky zvládli úspěšně a mohli začít jezdit co nejdříve. </p>
  <br>
  <br>
  <div class="gif" style="text-align: center;">
    <h6>PS: Přejeme hodně štěstí</h6>
    <iframe src="https://giphy.com/embed/l49JHz7kJvl6MCj3G" width="300" height="380" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/good-luck-l49JHz7kJvl6MCj3G">via GIPHY</a></p>
  </div>
  <br>
  <div class="container" style="text-align: center">
    <a href="{% url 'clanky' %}" class="btn btn-primary" style="width: 10rem">Zpět na články</a>
  </div>

<br>
<br>
<br>
{% endblock %}
