{% load i18n %}
<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  {% load static %}

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5QPS7TV');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Připravili jsme pro Vás detailní přípravnou simulaci taxi zkoušky, které Vám ukážou, kde a kdy chybujete. S námi máte 99% šanci uspět!">
  <meta name="keywords" content="Taxi zkoušky, taxi zkousky, zkousky taxi praha, zkoušky taxi praha, otázky na zkoušky praha, zkoušky na taxi, testy pro řidiče taxi, testy na taxi">
  <meta name="author" content="Taxizkousky.cz">
  <meta name="seznam-wmt" content="DTy8kIREfu5Hw6RMEQiOZQjAdWEsSnRH" />
  <link rel="icon" href="{% static 'TaxizkouskyFavicon.png' %}" sizes="32x32" type="image/png">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QPS7TV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fdd535">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'logo-taxizkousky.png' %}" alt="Logo-TaxiZkousky.cz" class="d-inline-block align-top" style="height: 4rem; width: 16rem" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <a href="{% url 'SearchTest' %}" class="nav-link"><strong>Procvičovací testy</strong></a>
        <a href="{% url 'quiz_index' %}" class="nav-link"><strong>Hlavní testy</strong></a>
        <a href="{% url 'quiz_progress' %}" class="nav-link"><strong>Výsledky testů</strong></a>
        <a href="{% url 'profile' %}" class="nav-link"><strong>Profil</strong></a>
        <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}" onclick=""><strong>Odhlásit</strong></a>
        <form id='logout' method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <input type="hidden" />
        </form>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'jakToFunguje' %}"><strong>Jak to funguje?</strong></a>
        <a class="nav-item nav-link" href="{% url 'clanky' %}"><strong>Články</strong></a>
        <a class="nav-item nav-link" href="{% url 'signup' %}"><strong>Registrace</strong></a>
        <a class="nav-item nav-link" href="{% url 'login' %}"><strong>Přihlášení</strong></a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><sup>&times;</sup></span>
      </button>
      {{message}}
    </div>
    {% endfor %} {% endif %}

  </div>

  {% block content %}
  {% endblock %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="footer" id="footer">
    <div class="container" style="text-align: center">
      <p style="text-align:center; margin-top:3rem">&copy; Taxizkousky.cz 2017-2019</p>
      <p style="text-align:center; font-size:80%">Pro více informací nebo spolupráci, piště na:</p><a href="mailto:info@taxizkousky.cz">info@taxizkousky.cz</a>
    </div>
    <br>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
