{% load i18n %}
<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Připravili jsme pro Vás cvičné i simulace reálných taxi zkoušek a taxi testů, které Vám ukážou kde a kdy chybujete. S námi máte 99% šanci uspět!">
  <meta name="keywords" content="Taxi zkoušky, taxi zkousky, zkousky taxi praha, zkoušky taxi praha, otázky na zkoušky praha, zkoušky na taxi, testy pro řidiče taxi, testy na taxi">
  <meta name="author" content="Taxizkousky.cz">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fdd535">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'logo-taxizkousky.png' %}" alt="Logo-TaxiZkousky.cz" class="d-inline-block align-top" style="height: 4rem; width: 16rem" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <a href="{% url 'SearchTest' %}" class="nav-link"><strong>Procvičovací testy</strong></a>
        <a href="{% url 'quiz_index' %}" class="nav-link"><strong>Hlavní testy</strong></a>
        <a href="{% url 'quiz_progress' %}" class="nav-link"><strong>Výsledky testů</strong></a>
        <a href="{% url 'profile' %}" class="nav-link"><strong>Profil</strong></a>
        <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}" onclick=""><strong>Odhlásit</strong></a>
        <form id='logout' method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <input type="hidden" />
        </form>
        {% else %}
        <a class="nav-item nav-link" href="{% url 'jakToFunguje' %}"><strong>Jak to funguje?</strong></a>
        <a class="nav-item nav-link" href="{% url 'signup' %}"><strong>Registrace</strong></a>
        <a class="nav-item nav-link" href="{% url 'login' %}"><strong>Přihlášení</strong></a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true"><sup>&times;</sup></span>
      </button>
      {{message}}
    </div>
    {% endfor %} {% endif %}

  </div>

  {% block content %}
  {% endblock %}
<div class="footer" id="footer">
  <style>
  /**
   * Demo Styles
   */

  html {
    height: 100%;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }

  .demo {
    margin: 0 auto;
    padding-top: 64px;
    max-width: 640px;
    width: 94%;
  }

  .demo h1 {
    margin-top: 0;
  }

  /**
   * Footer Styles
   */

  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0rem;
    background-color: #ffffff;
    text-align: center;
  }

  </style>
  <div class="container">
    <p style="text-align:center; margin-top:3rem">&copy; Taxizkousky.cz 2017-2019</p>
    <p style="text-align:center; font-size:80%">Pro více informací nebo spolupráci, piště na:</p><a href="mailto:info@taxizkousky.cz">info@taxizkousky.cz</a>
  </div>
  <br>
</div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
