{% extends "base.html" %} {% block content %}
<title>2019 | TaxiZkousky.cz - cookies</title>
<br />
<br />

<main role="main">
  <h1 style="text-align: center">Co jsou cookies</h1>
  <div class="container" style="width: 100%">
    <br>
    <p>Soubory cookies jsou malé textové soubory obsahující krátké údaje, které mohou být při návštěvě naše nebo jakéhokoliv jiného webu uloženy do různých druhů zařízení uživatele.</p>
    <br>
    <p><strong>Soubory cookies slouží zejména:</strong></p>
    <p>1) slouží k efektivní navigaci na webu, k personalizaci, ukládání předvoleb a obecně k vylepšení uživatelského dojmu z webu.</p>
    <p>2) umožňují rozlišit, zda konkrétní uživatel již v minulosti navštívil internetové stránky nebo zda je novým návštěvníkem.</p>
    <p>3) napomáhají zobrazovat na webu reklamu přizpůsobenou zájmům konkrétního uživatele.</p>
    <br>
    <p><strong>Taxizkousky.cz používá tři kategorie souborů cookies:</strong></p>
    <p>1) soubory cookies vyžadované k činnosti Internetových stránek a zajišťují funkce, nezbytně nutné k využívání Internetových stránek. K použití těchto nezbytně nutných souborů cookies není třeba souhlas uživatele;</p>
    <p>2) soubory cookies, které nejsou zcela nezbytné k fungování Internetových stránek, nicméně jejich používání zlepšuje uživatelský dojem, usnadňuje prohlížení Internetových stránek a současně zvyšuje výkon Internetové stránky;</p>
    <p>3) analytické cookies, které shromažďují informace pro pochopení způsobu používání Internetových stránek jednotlivými uživateli.</p>
    <br>
    <p>Ukládání souborů cookies dle písm. 2) a 3) předchozího odstavce je možné zakázat v nastavení prohlížeče (a případné odhlášení z používání cookies třetích stran je možné zakázat také pomocí tlačítka na konci této stránky). Pokud tak však uživatel učiní, mohou být některé funkce Internetových stránek nedostupné nebo nemusejí pracovat tak, jak by se očekávalo.</p>
    <br>
    <p>Pokud chcete získat více informací o zpracování osobních údajů, přečtěte si naše <a href="https://www.modryandel.cz/files/GDPR.pdf">GDPR</a> podmínky.</p>
    <br>
    <p>Většina webových prohlížečů ve výchozím nastavení soubory cookies přijímá. Uživatel však může nastavení svého prohlížeče změnit a cookies odmítnout a odebrat. Konkrétní postup se v jednotlivých prohlížečích liší, další informace tedy naleznete v nápovědě svého prohlížeče. Pro nejrozšířenější prohlížeče to jsou:</p>
    <br>
    <p>Chrome: <a href="https://support.google.com/">support.google.com</a></p>
    <p>Opera: <a href="https://help.opera.com/en/latest/">help.opera.com</a></p>
    <p>Firefox: <a href="https://support.mozilla.org/en-US/">support.mozilla.org</a></p>
    <p>MS Internet Explorer/Edge: <a href="https://www.microsoft.com/en-us/windows">windows.microsoft.com</a></p>
    <p>Safari: <a href="https://support.apple.com/">support.apple.com</a></p>
    <br>
    <p>Odmítnutí nebo odebrání souborů cookies může vést k nesprávné funkci Internetových stránek nebo některých jejích služeb a může mít nepříznivý vliv na váš uživatelský dojem. Oblasti Internetových stránek, které by mohly využívat obsah a s ním související soubory cookies třetích stran, nebudou k dispozici.</p>
    <br>
    <p>Pokud jsou pro Vás remarketingové aktivity TaxiZkousky.cz obtěžující a to právě díky cookies, připravili jsme pro Vás nejrychlejší cestu jak se z těchto aktivit odhlásit i přes náš web. Pokud však zakážete soubory cookies, mohou se zobrazovat reklamy, které méně souvisejí s Vašimi zájmy (a jsou tedy Vám nerelevantní). Pokud si opravdu přejete odstranit reklamní soubory cookies, klikněte na tlačítko "Odebrat z kampaní" níže.</p>
    <br>
    <button type="button" name="button" href="https://www.modryandel.cz/pro-klienty/kontakt/uspesne-odebrani-z-kampani">Odebrat z kampaní</button>
  </div>
</main>
<br>
<br>
<br>
<br>
  {% endblock %}
