{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="canonical" href="https://www.taxizkousky.cz/" />
<title>2019 | Připravte se na taxi zkoušky s námi!</title>
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container-fluid" style="background-image: url('static/taximage.jpg'); position: relative; background-repeat: no-repeat; width:auto;; height:40rem; background-size: cover">
    <div class="container text-center">
      <h1 class="display-4" style="color:white; padding-top: 8rem">Taxi zkoušky jednoduše a zdarma</h1>
      <h4 class="display-9" style="color: white">Náš program Vám sám poradí, kde chybujete!</h4>
      <p><a class="btn btn-primary btn-lg" href="#info" role="button" style="margin: 3rem">Více informací</a></p>
      <br>
    </div>
  </div>

  <div class="container" style="max-width: 100%">
    <div class="row align-items-center" style="height: 8rem; background-color: #fdd535">
      <div class="col-sm text-center text-black">
        Místopis + právní předpisy
      </div>
      <div class="col-sm text-center text-black">
        Oficiální otázky od magistrátu
      </div>
      <div class="col-sm text-center text-black">
        Zaškolení s taxametrem
      </div>
      <div class="col-sm text-center text-black">
        99% úspěšnost složení zkoušky
      </div>
    </div>
  </div>

  <div class="container" style="padding-top: 2rem" id="info">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Pro úspěšné složení taxi zkoušek je potřeba trénink a disciplína</h2>
        <br>
        <p class="lead">Stát se profesionálním řidičem taxi v Praze může na první pohled vypadat jako nepřekonatelný byrokratický proces. Je potřeba zařídit si:</p>
        <p class="lead">a) Průkaz taxi ("žlutá kartička taxi")</p>
        <p class="lead">b) Osvědčení o zkoušce z místopisu a legislativy</p>
        <p class="lead">c) Zařídit si oprávnění provozovat taxi, tedy taxikářskou koncesi</p>
        <p class="lead">Není to však tak těžké jak se na první pohled může zdát. Z našich zkušeností vyplívá, že zájemci nejvíce podceňují právě zkoušky z místopisu a legislativy.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'Test1.jpg' %}">
      </div>
    </div>
    <br>
    <br>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Trénujte na taxi zkoušky a to zcela zdarma!</h2>
        <br>
        <p class="lead">Tento web je vytvořen i pro mobilní zařízení, takže si taxi zkoušky můžete procvičovat kdykoliv budete mít vhodnou chvíli. Bude vždy přístupný a zdarma.</p>
        <p class="lead">Jediné co je za poplatek je ukázka a zaškolení taxametru, které probíhá s naším zkušeným kolegou.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="{% static 'Test2.jpg' %}">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <hr class="featurette-divider">
  <div class="container" style="text-align: center">
    <h2 class="display-4">Články a informace</h2>
    <br>

    <div class="row align-items-center justify-content-md-center" style="padding-top: 1rem">
      <div class="col-md-auto">
        <div class="card" style="width:20rem; border-radius: 5%;">
          <a href="{% url 'clanek1' %}">
            <img src="{% static 'Taxi1.jpg' %}" class="card-img-top" alt="taxi transparent" style="border-radius: 5%; height:15rem">
          </a>
          <div class="card-body">
            <h5 class="card-title">Jak udělat taxi zkoušky co nejrychleji?</h5>
            <p class="card-text">Úspěšně složit taxi zkoušky je povinností každého uchazeče o taxi koncesi v Praze...</p>
            <div class="container" style="text-align: center">
              <a href="{% url 'clanek1' %}" class="btn btn-warning" style="width: 10rem">Přečíst</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card" style="width:20rem; border-radius: 5%;">
          <a href="{% url 'clanek2' %}">
            <img src="{% static 'clanek2.jpeg' %}" class="card-img-top" alt="Učení se na taxi zkoušky" style="border-radius: 5%;">
          </a>
          <div class="card-body">
            <h5 class="card-title">Jak udělat taxi zkoušky co nejrychleji?</h5>
            <p class="card-text">Úspěšně složit taxi zkoušky je povinností každého uchazeče o taxi koncesi v Praze...</p>
            <div class="container" style="text-align: center">
              <a href="{% url 'clanek2' %}" class="btn btn-warning" style="width: 10rem">Přečíst</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card" style="width:20rem; border-radius: 5%;">
          <a href="{% url 'clanek3' %}">
            <img src="{% static 'taxiblog3.jpg' %}" class="card-img-top" alt="Učení se na taxi zkoušky" style="border-radius: 5%;">
          </a>
          <div class="card-body">
            <h5 class="card-title">Žádné taxi zkoušky? Novelá zákona může snížit profesionalitu řidičů taxi</h5>
            <p class="card-text">Novela zákona možná zruší taxi zkoušky tak jak je známe...</p>
            <div class="container" style="text-align: center">
              <a href="{% url 'clanek3' %}" class="btn btn-warning" style="width: 10rem">Přečíst</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <hr class="featurette-divider">
    <h2 class="display-4">Naše kurzy</h2>
    <p class="lead">Naše kurzy se liší dle poptávky nových řidičů. Někteří se potřebují jen připravit na písemné zkoušky a jiní potřebují zaškolit i v taxametru. Obě verze jsou popsány níže:</p>
  </div>

  <div class="container" style="padding-bottom: 4rem">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header text-white bg-info">
          <h4 class="my-0 font-weight-normal">Příprava na taxi zkoušky</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">Zdarma <small class="text-muted"></small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Přístup k materiálům</li>
            <li>Přístup ke zkouškám na nečisto</li>
            <li>Přístup k otestování znalostí</li>
          </ul>
          <a class="btn btn-block btn-primary" href="{% url 'signup' %}">Registrovat</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header text-white bg-info">
          <h4 class="my-0 font-weight-normal">Zaškolení v taxametru</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">499,-<small class="text-muted"> / kurz v taxametru</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Kurzem v taxametru Vás provede zkušený kolega</li>
            <li>Osobní zaškolení v taxametru: Semitron P 6S</li>
            <li>Objednávejte po registraci ve svém profilu</li>
          </ul>
          <a class="btn btn-block btn-primary" href="{% url 'signup' %}">Objednat nyní</a>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock  %}
