{% extends "base.html" %} {% block content %}
<link rel="canonical" href="https://www.taxizkousky.cz/login/" />
<title>2019 | TaxiZkousky.cz - přihlášení</title>
<br />
<br />

<main role="main">
  <h1 style="text-align: center">Přihlásit se</h1>
  <div class="container" style="width: 25rem">
    <form method="POST" action="{% url 'login' %}" style="margin-top: 5rem">
      {% csrf_token %}
      <div class="form-group" style="text-align: center">
        <label for="exampleInputEmail1">Zadejte Vaši email adresu</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Emailová adresa" name="usernameEmail">
      </div>
      <div class="form-group" style="text-align: center">
        <label for="exampleInputPassword1">Zadejte Vaše heslo</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Heslo" name="password">
      </div>
      <p align="center">
        <button type="submit" class="btn btn-primary">Přihlásit se</button>
      </p>
    </form>
  </div>
</main>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
